
body {
    font-family: Arial, sans-serif;
}
h1 {
    color: navy;
}
table {
    border-collapse: collapse;
    width: 100%;
    
}
th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}


h2 {
    color: navy;
}


strong {
    color: #800000;
}
ul {
    list-style-type: none;
}
.porota ul {
    list-style: circle;
}